$primary: #bae1ff;
$secondary: #e96630;
$tirtiry: #ef5b46;
$color: #1e1e1e;

@font-face {
  font-family: GoudyOldStyle;
  src: url("./assets/Goudy\ Old\ Style.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  color: $color;
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.header {
  width: 100%;
  position: fixed;
  top: 0px;
  transition: 300ms ease-in-out;
  z-index: 9999;
}
.header__active {
  transition: 300ms ease-in-out;
  background-color: white;
}
.header__content {
  width: 100%;
  max-width: 1366px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
  margin: 0em auto;
}
.header__content__logo__img {
  width: 250px;
}
.header__content__nav {
  display: flex;
  align-items: center;
  transition: 300ms ease-in-out;
}
.header__content__nav__link {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0em 1.5em;
  font-weight: 500;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  cursor: pointer;
  margin-left: 1em;
  transition: 300ms ease-in-out;
}
.header__content__nav .active {
  transition: 300ms ease-in-out;
  background-color: $primary;
}
.header__content__nav__link:hover {
  transition: 300ms ease-in-out;
  background-color: $primary;
}
.header__content__menu {
  border: none;
  border-radius: 5px;
  min-width: 40px;
  min-height: 40px;
  background-color: $primary;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}
.header__content__menu * {
  pointer-events: none;
}
.home__jumbotron {
  width: 100%;
  height: 100vh;
  max-height: 1000px;
  position: relative;
}
.home__jumbotron__svg {
  position: absolute;
  top: 0px;
  width: 600px;
  right: 0px;
  z-index: -1;
}
.home__jumbotron__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1366px;
  height: 100%;
  padding: 0em 2em;
  margin: 0em auto;
  padding-top: 7em;
}
.home__jumbotron__content__left {
  flex: 1;
  margin-top: -4em;
}
.home__jumbotron__content__left__sub__heading {
  font-size: 20px;
}
.home__jumbotron__content__left__heading {
  font-size: 60px;
  font-style: italic;
  font-weight: bold;
  line-height: 100%;
  width: 100%;
  max-width: 400px;
}
.home__jumbotron__content__left__info {
  width: 100%;
  max-width: 400px;
  margin: 1em 0em;
  margin-bottom: 2em;
}
.home__jumbotron__content__left__link {
  text-decoration: none;
  padding: 0.7em 1.5em;
  font-weight: 500;
  border: 1px solid $color;
  border-radius: 5px;
  transition: 200ms ease-in-out;
}
.home__jumbotron__content__left__link:hover {
  transition: 200ms ease-in-out;
  background-color: $secondary;
  color: white;
  border-color: $secondary;
}
.home__jumbotron__content__right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.home__jumbotron__content__right__img {
  width: 100%;
  max-width: 600px;
}
.home__products {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em 0em;
}
.home__products__heading {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-style: italic;
  line-height: 100%;
  margin-bottom: 1em;
}
.home__products__heading span {
  color: $secondary;
}
.home__products__content {
  width: 100%;
  max-width: 1366px;
  margin: 0em auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
}

.home__products__content__card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 350px;
  margin: 1em;
}
.home__products__content__card:first-child,
.home__products__content__card:last-child {
  margin-top: -15em;
}
.home__products__content__card__img {
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  width: 100%;
  transition: 300ms ease-in-out;
}
.home__products__content__card__heading {
  margin-top: 1em;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0.5em;
  text-align: center;
  transition: 300ms ease-in-out;
}
.home__products__content__card__info {
  text-align: center;
}
.home__products__content__card:hover .home__products__content__card__img {
  transition: 300ms ease-in-out;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
}
.home__products__content__card:hover .home__products__content__card__heading {
  transition: 300ms ease-in-out;
  color: $secondary;
}
.home__services {
  width: 100%;
  max-width: 1366px;
  padding: 4em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0em auto;
  position: relative;
}
.home__services__wrapper {
  width: 100%;
  position: relative;
}
.home__services__svg {
  position: absolute;
  top: -50px;
  width: 300px;
  left: 0em;
  z-index: -1;
}
.home__services__left {
  height: 180px;
  background-color: $tirtiry;
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 300px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  position: relative;
  margin-right: 2em;
}
.home__services__left::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 50px;
  width: 100vw;
  height: 100%;
  background-color: $tirtiry;
  z-index: -1;
}
.home__services__left__heading {
  font-size: 35px;
  font-weight: bold;
  color: white;
  margin-bottom: -0.5em;
  line-height: 100%;
}
.home__services__right {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
}
.home__services__right__card {
  display: flex;
  align-items: center;
  width: calc(50% - 2em);
  border-radius: 20px;
  padding: 0em 2em;
  transition: 300ms ease-in-out;
  margin: 1em;
}
.home__services__right__card__icon {
  margin-right: 2em;
}
.home__services__right__card__icon svg {
  width: 80px;
}
.home__services__right__card__heading {
  font-weight: bold;
}
.home__services__right__card:hover {
  transition: 300ms ease-in-out;
  background-color: $primary;
}
.home__quotation {
  background: linear-gradient(transparent, #f6f6ff);
  position: relative;
  height: fit-content;
  width: 100%;
  max-width: 1920px;
  margin: 0em auto;
}
.home__quotation__img {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 800px;
}
.home__quotation__content {
  width: 100%;
  max-width: 1366px;
  margin: 0em auto;
  padding: 0em 2em;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home__quotation__content__heading {
  font-size: 35px;
  font-weight: bold;
  font-style: italic;
  display: flex;
  flex-direction: column;
  line-height: 100%;
}
.home__quotation__content__heading span {
  color: $secondary;
}
.home__quotation__content__info {
  position: relative;
  width: 100%;
  font-size: 35px;
  max-width: 600px;
  font-family: GoudyOldStyle, sans-serif;
  font-weight: bold;
  margin-top: 2em;
}
.home__quotation__content__info svg {
  position: absolute;
  top: -1em;
  left: -1em;
  z-index: -1;
}
@media (max-width: 1200px) {
  .home__jumbotron__content__left__heading {
    font-size: 50px;
    max-width: 350px;
  }
  .home__products__heading {
    font-size: 40px;
  }
  .home__services {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0em;
  }
  .home__services__left {
    min-height: 180px;
    margin-right: 0em;
  }
  .home__services__left__heading {
    margin-right: 5em;
    margin-left: 0.5em;
  }
  .home__services__right {
    max-width: 100%;
    margin-top: 3em;
  }
  .home__quotation {
    display: flex;
  }
  .home__quotation__content {
    min-height: 500px;
  }
  .home__quotation__content__info {
    font-size: 30px;
  }
  .home__quotation__img {
    position: relative;
    height: 500px;
  }
}
@media (max-width: 1000px) {
  .header__content__logo__img {
    width: 200px;
  }
  .header__content__menu {
    display: flex;
  }
  .header__content__nav {
    position: absolute;
    top: 8em;
    background-color: white;
    flex-direction: column;
    right: 2em;
    padding: 2em;
    padding-bottom: 1em;
    border-radius: 10px;
    animation: header__content__nav__animation 300ms both;
  }
  @keyframes header__content__nav__animation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .header__content__nav__link {
    margin-left: 0em;
    margin-bottom: 1em;
    width: 100%;
  }
  .home__jumbotron {
    height: fit-content;
  }
  .home__jumbotron__content {
    flex-direction: column;
  }
  .home__jumbotron__content__left {
    margin-top: 0em;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 0em;
  }
  .home__jumbotron__content__left__info {
    max-width: 700px;
  }
}
@media (max-width: 850px) {
  .home__products__content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .home__products__content__card {
    width: calc(50% - 2em);
    max-width: 50%;
  }
  .home__products__content__card:first-child,
  .home__products__content__card:last-child {
    margin-top: 0em;
  }
  .home__products__content__card:last-child {
    margin-top: 4em;
  }
  .home__services__left__heading {
    font-size: 30px;
  }
  .home__quotation__content {
    align-items: center;
    min-height: fit-content;
    margin-bottom: 5em;
  }
  .home__quotation__content__heading {
    text-align: center;
    font-size: 30px;
  }
  .home__quotation__content__info {
    text-align: center;
    font-size: 25px;
  }
  .home__quotation__img {
    display: none;
  }
}
@media (max-width: 700px) {
  .home__jumbotron__content__left__heading {
    font-size: 40px;
    max-width: 250px;
  }
  .home__services__right__card {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .home__products__heading {
    margin-bottom: 0em;
    font-size: 35px;
  }
  .home__products__content__card {
    width: calc(100% - 2em);
    max-width: 100%;
  }
  .home__products__content__card:first-child {
    margin-bottom: 2em;
  }
  .home__products__content__card:last-child {
    margin-top: 2em;
  }
  .home__services {
    padding-left: 1em;
    padding-right: 1em;
  }
}
