@import "swiper/css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: GoudyOldStyle;
  src: url("./assets/Goudy\ Old\ Style.ttf");
}

$primary: #bae1ff;
$secondary: #e96630;
$tirtiry: #ef5b46;
$color: #1e1e1e;

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: $color;
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background-color: $secondary;
  border-radius: 50px;
}
body::-webkit-scrollbar {
  background-color: white;
}
.header {
  width: 100%;
  position: fixed;
  top: 0px;
  transition: 300ms ease-in-out;
  z-index: 9999;
}
.header__active {
  transition: 300ms ease-in-out;
  background-color: white;
}
.header__content {
  width: 100%;
  max-width: 1366px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
  margin: 0em auto;
}
.header__content__logo__img {
  width: 200px;
}
.header__content__nav {
  display: flex;
  align-items: center;
  transition: 300ms ease-in-out;
}
.header__content__nav__link {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0em 1.5em;
  font-weight: 500;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  margin-left: 1em;
}
.header__content__nav .active {
  transition: 300ms ease-in-out;
  background-color: $primary;
}
.header__content__nav__link:hover {
  transition: 300ms ease-in-out;
  background-color: $primary;
}
.header__content__menu {
  border: none;
  border-radius: 5px;
  min-width: 40px;
  min-height: 40px;
  background-color: $primary;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}
.header__content__menu * {
  pointer-events: none;
}
.home__jumbotron {
  width: 100%;
  height: 100vh;
  max-height: 1000px;
  position: relative;
}
.home__jumbotron__svg {
  position: absolute;
  top: 0px;
  width: 600px;
  right: 0px;
  z-index: -1;
}
.home__jumbotron__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1366px;
  height: 100%;
  padding: 0em 2em;
  margin: 0em auto;
  padding-top: 3em;
}
.home__jumbotron__content__left {
  flex: 1;
  margin-top: -5em;
}
.home__jumbotron__content__left__sub__heading {
  font-size: 20px;
}
.home__jumbotron__content__left__heading {
  font-size: 60px;
  font-style: italic;
  font-weight: bold;
  line-height: 100%;
  width: 100%;
  max-width: 400px;
}
.home__jumbotron__content__left__info {
  width: 100%;
  max-width: 550px;
  margin: 1em 0em;
  margin-bottom: 2em;
}
.home__jumbotron__content__left__link {
  text-decoration: none;
  padding: 0.7em 1.5em;
  font-weight: 500;
  border: 1px solid $color;
  border-radius: 5px;
  transition: 200ms ease-in-out;
}
.home__jumbotron__content__left__link:hover {
  transition: 200ms ease-in-out;
  background-color: $secondary;
  color: white;
  border-color: $secondary;
}
.home__jumbotron__content__right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.home__jumbotron__content__right__img {
  width: 100%;
  max-width: 600px;
}
.home__products {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em 0em;
}
.home__products__heading {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-style: italic;
  line-height: 100%;
  margin-bottom: 1em;
}
.home__products__heading span {
  color: $secondary;
}
.home__products__content {
  width: 100%;
  max-width: 1366px;
  margin: 0em auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
}

.home__products__content__card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 350px;
  margin: 1em;
}
.home__products__content__card:first-child,
.home__products__content__card:last-child {
  margin-top: -15em;
}
.home__products__content__card__img {
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  width: 100%;
  transition: 300ms ease-in-out;
}
.home__products__content__card__heading {
  margin-top: 1em;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0.5em;
  text-align: center;
  transition: 300ms ease-in-out;
}
.home__products__content__card__info {
  text-align: center;
}
.home__products__content__card:hover .home__products__content__card__img {
  transition: 300ms ease-in-out;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
}
.home__products__content__card:hover .home__products__content__card__heading {
  transition: 300ms ease-in-out;
  color: $secondary;
}
.home__services {
  width: 100%;
  max-width: 1366px;
  padding: 4em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0em auto;
  position: relative;
}
.home__services__wrapper {
  width: 100%;
  position: relative;
}
.home__services__svg {
  position: absolute;
  top: -50px;
  width: 300px;
  left: 0em;
  z-index: -1;
}
.home__services__left {
  height: 180px;
  background-color: $tirtiry;
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 300px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  position: relative;
  margin-right: 2em;
}
.home__services__left::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 50px;
  width: 100vw;
  height: 100%;
  background-color: $tirtiry;
  z-index: -1;
}
.home__services__left__heading {
  font-size: 35px;
  font-weight: bold;
  color: white;
  margin-bottom: -0.5em;
  line-height: 100%;
}
.home__services__right {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
}
.home__services__right__card {
  display: flex;
  align-items: center;
  width: calc(50% - 2em);
  border-radius: 20px;
  padding: 0em 2em;
  transition: 300ms ease-in-out;
  margin: 1em;
  border: 1px solid #adadad;
}
.home__services__right__card__icon {
  margin-right: 2em;
}
.home__services__right__card__icon svg {
  width: 80px;
}
.home__services__right__card__heading {
  font-weight: bold;
}
.home__services__right__card:hover {
  transition: 300ms ease-in-out;
  background-color: $primary;
  border-color: $primary;
}
.home__quotation {
  background: linear-gradient(transparent, #f6f6ff);
  position: relative;
  height: fit-content;
  width: 100%;
  max-width: 1920px;
  margin: 0em auto;
}
.home__quotation__img {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 800px;
}
.home__quotation__content {
  width: 100%;
  max-width: 1366px;
  margin: 0em auto;
  padding: 0em 2em;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home__quotation__content__heading {
  font-size: 35px;
  font-weight: bold;
  font-style: italic;
  display: flex;
  flex-direction: column;
  line-height: 100%;
}
.home__quotation__content__heading span {
  color: $secondary;
}
.home__quotation__content__info {
  position: relative;
  width: 100%;
  font-size: 35px;
  max-width: 600px;
  font-family: GoudyOldStyle, sans-serif;
  font-weight: bold;
  margin-top: 2em;
}
.home__quotation__content__info svg {
  position: absolute;
  top: -1em;
  left: -1em;
  z-index: -1;
}
.contact__jumbotron {
  width: 100%;
  background-color: $primary;
  position: relative;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact__jumbotron svg {
  position: absolute;
  height: 380px;
  top: 0px;
  width: 100%;
}
.contact__jumbotron__heading {
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  margin-top: 3em;
  position: relative;
  z-index: 1;
}
.contact__info {
  width: 100%;
  max-width: 1200px;
  margin: 4em auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  position: relative;
  padding: 0em 1em;
  flex-wrap: wrap;
}
.contact__info__card {
  padding: 2.5em;
  border: 1px solid $color;
  width: 30%;
  min-height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 1em;
  border-radius: 20px;
  transition: 300ms ease-in-out;
  padding-bottom: 2em;
  background-color: white;
}
.contact__info__card__heading {
  margin: 0.5em 0em;
  font-weight: bold;
  font-size: 18px;
  margin-top: 1em;
}
.contact__info__card__info {
  min-height: 30px;
  word-break: break-all;
}
.contact__info__card:hover {
  transition: 300ms ease-in-out;
  background-color: $secondary;
  border-color: $secondary;
}
.contact__info__card:hover * {
  color: white;
}
.contact__map__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0em 2em;
}
.contact__map {
  width: 100%;
  max-width: 1366px;
  border: none;
  margin: 0em auto;
  margin-top: -10em;
  border-radius: 20px;
  height: 800px;
  margin-bottom: 4em;
}
.home__sustainability {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 7em auto;
  overflow: hidden;
}
.home__sustainability__svg {
  position: absolute;
  top: 150px;
  right: 0px;
  width: 500px;
  z-index: -1;
  transform: rotate(200deg);
  opacity: 0.2;
}
.home__sustainability__heading {
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0.5em;
  position: relative;
  margin-top: 3em;
  text-align: center;
  padding: 0em 2em;
}
.home__sustainability__heading svg {
  position: absolute;
  top: -150px;
  z-index: -1;
  width: 100%;
}
.home__sustainability__info {
  width: 100%;
  max-width: 1000px;
  text-align: center;
  padding: 0em 2em;
  margin-bottom: 3em;
}
.home__sustainability__content {
  width: 100%;
  max-width: 1366px;
  display: flex;
  padding: 0em 2em;
}
.home__sustainability__content__left {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin-right: 3em;
}
.home__sustainability__content__left__card {
  width: 30%;
  margin: 1.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding: 2em;
  position: relative;
  border-radius: 20px;
  background-color: white;
  transition: 300ms ease-in-out;
}
.home__sustainability__content__left__card::after {
  content: "";
  position: absolute;
  top: -0.7%;
  left: -0.7%;
  width: 101.5%;
  height: 101.5%;
  background: linear-gradient(transparent, #adadad);
  border-radius: 20px;
  z-index: -1;
  transition: 300ms ease-in-out;
}
.home__sustainability__content__left__card__heading {
  font-family: GoudyOldStyle, sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 1em;
}
.home__sustainability__content__left__card:hover {
  transition: 300ms ease-in-out;
  background-color: $primary;
}
.home__sustainability__content__left__card:hover::after {
  transition: 300ms ease-in-out;
  background: $primary;
}
.home__sustainability__content__right {
  flex: 1;
  max-width: 500px;
}
.home__sustainability__content__right__img {
  width: 100%;
}
.footer {
  width: 100%;
  position: relative;
  padding: 2em;
  overflow: hidden;
}
.footer__content {
  position: relative;
  padding: 5em;
  border-radius: 20px;
  border-top-right-radius: 190px;
  background-color: $color;
  width: 100%;
  max-width: 1920px;
  margin: 0em auto;
  display: flex;
  justify-content: space-between;
  padding-right: 15em;
  padding-bottom: 10em;
}
.footer__content * {
  color: white;
}
.footer__content::after {
  content: "";
  position: absolute;
  top: -20px;
  right: -20px;
  width: 150px;
  height: 150px;
  background-color: $primary;
  border-radius: 150px;
}
.footer__content::before {
  content: "";
  position: absolute;
  top: 0px;
  right: -200px;
  width: 320px;
  height: 320px;
  border: 1px solid $primary;
  border-radius: 400px;
}
.footer__content__col {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}
.footer__content__col:first-child {
  min-width: 30%;
}
.footer__content__col__logo__img {
  width: 200px;
}
.footer__content__col__info {
  width: 100%;
  max-width: 300px;
  margin-top: 1em;
}
.footer__content__col__heading {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 1em;
}
.footer__content__col__link {
  text-decoration: none;
  margin-top: 1em;
  position: relative;
  margin-left: 2em;
  transition: 300ms ease-in-out;
}
.footer__content__col__link::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -2em;
  width: 8px;
  border-radius: 50px;
  height: 8px;
  background-color: white;
  transition: 300ms ease-in-out;
}
.footer__content__col__link:hover {
  transition: 300ms ease-in-out;
  color: $secondary;
}
.footer__content__col__link:hover::before {
  transition: 300ms ease-in-out;
  background-color: $secondary;
}
.footer__content__col__button {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  color: $color;
  padding: 0em 1.5em;
  text-decoration: none;
  border-radius: 17px;
  margin-top: 2em;
  background-color: $primary;
  font-weight: 500;
  transition: 300ms ease-in-out;
}
.footer__content__col__button:hover {
  transition: 300ms ease-in-out;
  background-color: $secondary;
  color: white;
}
.products__kintted__garments {
  display: flex;
  width: 100%;
  max-width: 1366px;
  margin: 0em auto;
  padding: 7em 2em;
  justify-content: space-between;
  position: relative;
}

.products__kintted__garments__reverse {
  flex-direction: row-reverse;
  padding-top: 0em;
}
.products__kintted__garments__left {
  position: sticky;
  top: 10em;
  flex: 1;
  max-width: 300px;
  background-color: $secondary;
  height: 150px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-right: 8em;
  display: flex;
  align-items: center;
  padding: 2em;
}
.products__kintted__garments__left__heading {
  font-size: 25px;
  width: 100%;
  max-width: 200px;
  color: white;
  font-weight: bold;
  font-style: italic;
}
.products__kintted__garments__left::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 30px;
  width: 100vw;
  height: 100%;
  background-color: $secondary;
  z-index: -1;
}
.products__kintted__garments__reverse .products__kintted__garments__left {
  background-color: $primary;
  border-radius: 20px;
  margin-right: 0em;
  margin-left: 8em;
}
.products__kintted__garments__reverse
  .products__kintted__garments__left__heading {
  color: $color;
  margin-left: 1em;
}
.products__kintted__garments__reverse
  .products__kintted__garments__left::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 30px;
  width: 100vw;
  height: 100%;
  background-color: $primary;
  z-index: -1;
}
.products__kintted__garments__right {
  flex: 1;
  width: 100%;
}
.products__kintted__garments__right__entry {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 5em;
}
.products__kintted__garments__right__entry__reverse {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.products__kintted__garments__right__entry__left {
  display: flex;
  flex-direction: column;
}
.products__kintted__garments__right__entry__left__heading {
  font-size: 30px;
  color: $secondary;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0.5em;
}
.products__kintted__garments__right__entry__left__button {
  position: relative;
  margin-top: 1em;
}
.products__kintted__garments__right__entry__left__button__input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}
.products__kintted__garments__right__entry__left__button__content {
  font-size: 16px;
}
.products__kintted__garments__right__entry__left__button__input:hover
  ~ .products__kintted__garments__right__entry__left__button__content,
.products__kintted__garments__right__entry__left__button__input:checked
  ~ .products__kintted__garments__right__entry__left__button__content {
  font-weight: bold;
}
.products__kintted__garments__right__entry__right {
  margin-left: 4em;
  width: 50%;
}
.products__kintted__garments__right__entry__reverse
  .products__kintted__garments__right__entry__right {
  margin-left: 0em;
  margin-right: 4em;
}
.products__kintted__garments__right__entry__right__img {
  width: 100%;
}
.products__kintted__garments__right__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 4em;
}
.products__kintted__garments__right__content__heading {
  font-size: 22px;
  color: $secondary;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0.5em;
}
.about__jumbotron {
  width: 100%;
  max-width: 1366px;
  padding: 0em 2em;
  margin: 0em auto;
  position: relative;
}
.about__jumbotron__img {
  width: 100%;
  max-height: 700px;
}
.about__jumbotron__content {
  position: absolute;
  bottom: 0px;
  width: calc(100% - 2em);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 3em;
  padding: 0em 2em;
}
.about__jumbotron__content__left {
  width: 100%;
  max-width: 400px;
}
.about__jumbotron__content__right {
  width: 100%;
  max-width: 400px;
}
.about__info {
  width: 100%;
  max-width: 1920px;
  position: relative;
  margin: 0em auto;
  margin-top: 10em;
}
.about__info__img {
  position: absolute;
  top: -10%;
  height: 120%;
}
.about__info__content {
  width: 100%;
  max-width: 700px;
  display: flex;
  align-items: stretch;
  margin: 0em auto;
}
.about__info__content__entry {
  flex: 1;
  padding: 2.5em;
  border-radius: 10px;
  border: 1px solid #adadad;
  margin: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 300ms ease-in-out;
}
.about__info__content__entry__icon__img {
  width: 100px;
}
.about__info__content__entry__heading {
  margin: 1em 0em;
  font-size: 22px;
  color: $color;
  font-weight: bold;
  font-style: italic;
}
.about__info__content__entry:hover {
  transition: 300ms ease-in-out;
  background-color: $primary;
  border-color: $primary;
}
.certificate__entry {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.certificate__entry__img {
  width: 100%;
}
.certificate__entry__heading {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  margin-top: 1em;
}
.home__sustainability__content__reverse {
  margin-bottom: 7em;
}
.home__sustainability__content__reverse__card {
  width: 50%;
  position: relative;
  padding: 3em 2em;
}
.home__sustainability__content__reverse__card__img {
  position: absolute;
  top: 0px;
  height: 200px;
  left: calc(50% - 100px);
}
.home__sustainability__content__reverse__card__heading {
  font-size: 22px;
  color: $secondary;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0.5em;
}
@media (max-width: 1440px) {
  .footer__content {
    padding: 3em;
    padding-right: 10em;
    padding-bottom: 5em;
  }
  .footer__content * {
    transform: scale(0.9);
  }
}
@media (max-width: 1350px) {
  .home__sustainability__content__left__card {
    width: 47%;
  }
  .footer__content {
    flex-wrap: wrap;
    padding: 5rem;
  }
  .footer__content * {
    transform: scale(1);
  }
  .footer__content__col {
    min-width: calc(50% - 2em) !important;
    margin-bottom: 3em;
  }
}
@media (max-width: 1300px) {
  .about__jumbotron {
    overflow: hidden;
  }
  .about__jumbotron__img {
    height: 500px;
  }
  .about__jumbotron__content {
    flex-direction: column;
    position: relative;
    padding: 0em;
    padding-bottom: 5em;
    padding-top: 2em;
    width: 100%;
  }
  .about__jumbotron__content__left,
  .about__jumbotron__content__right {
    max-width: 100%;
    text-align: center;
  }
}
@media (max-width: 1250px) {
  .about__info__img {
    display: none;
  }
  .about__info {
    margin-top: 7em;
  }
}
@media (max-width: 1200px) {
  .home__jumbotron__content__left__heading {
    font-size: 50px;
    max-width: 350px;
  }
  .home__products__heading {
    font-size: 40px;
  }
  .home__services {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0em;
  }
  .home__services__left {
    min-height: 180px;
    margin-right: 0em;
  }
  .home__services__left__heading {
    margin-right: 5em;
    margin-left: 0.5em;
  }
  .home__services__right {
    max-width: 100%;
    margin-top: 3em;
  }
  .home__quotation {
    display: flex;
  }
  .home__quotation__content {
    min-height: 500px;
  }
  .home__quotation__content__info {
    font-size: 30px;
  }
  .home__quotation__img {
    position: relative;
    height: 500px;
  }
}
@media (max-width: 1100px) {
  .products__kintted__garments__left {
    margin-right: 4em;
  }
  .products__kintted__garments__reverse .products__kintted__garments__left {
    margin-left: 4em;
  }
}
@media (max-width: 1000px) {
  .products__kintted__garments {
    flex-direction: column;
    padding-bottom: 0em;
  }
  .products__kintted__garments__reverse {
    align-items: flex-end;
  }
  .products__kintted__garments__left {
    position: relative;
    top: 0px;
    margin-bottom: 5em;
  }
  .header__content__logo__img {
    width: 200px;
  }
  .header__content__menu {
    display: flex;
  }
  .header__content__nav {
    position: absolute;
    top: 8em;
    background-color: white;
    flex-direction: column;
    right: 2em;
    padding: 2em;
    padding-bottom: 1em;
    border-radius: 10px;
    animation: header__content__nav__animation 300ms both;
  }
  @keyframes header__content__nav__animation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .header__content__nav__link {
    margin-left: 0em;
    margin-bottom: 1em;
    width: 100%;
  }
  .home__jumbotron {
    height: fit-content;
  }
  .home__jumbotron__content {
    flex-direction: column;
  }
  .home__jumbotron__content__left {
    margin-top: 0em;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 0em;
  }
  .home__jumbotron__content__left__info {
    max-width: 700px;
  }
  .home__sustainability__content__left__card {
    width: 100%;
  }
  .about__jumbotron {
    overflow: hidden;
  }
  .about__jumbotron__img {
    margin-left: -25%;
    width: 150%;
  }
}
@media (max-width: 950px) {
  .contact__info__card {
    width: 100%;
  }
  .contact__map {
    margin-top: 0em;
  }
}
@media (max-width: 850px) {
  .home__products__content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .home__products__content__card {
    width: calc(50% - 2em);
    max-width: 50%;
  }
  .home__products__content__card:first-child,
  .home__products__content__card:last-child {
    margin-top: 0em;
  }
  .home__products__content__card:last-child {
    margin-top: 4em;
  }
  .home__services__left__heading {
    font-size: 30px;
  }
  .home__quotation__content {
    align-items: center;
    min-height: fit-content;
    margin-bottom: 5em;
  }
  .home__quotation__content__heading {
    text-align: center;
    font-size: 30px;
  }
  .home__quotation__content__info {
    text-align: center;
    font-size: 25px;
  }
  .home__quotation__img {
    display: none;
  }
  .home__sustainability__content__right {
    display: none;
  }
  .home__sustainability__content__left {
    margin-right: 0em;
  }
  .home__sustainability__content__left__card {
    width: 47%;
  }
  .footer__content__col {
    min-width: 100% !important;
  }
  .about__info {
    margin-bottom: 7em;
  }
  .home__sustainability__content__reverse {
    flex-direction: column;
  }
  .home__sustainability__content__reverse__card {
    width: 100%;
    padding: 3em 0em;
  }
  .home__sustainability__content__reverse__card:first-child {
    margin-bottom: 2em;
  }
}
@media (max-width: 700px) {
  .home__jumbotron__content__left__heading {
    font-size: 40px;
    max-width: 250px;
  }
  .home__services__right__card {
    width: 100%;
  }
  .contact__jumbotron {
    min-height: 400px;
  }
  .products__kintted__garments__right__entry__left__heading {
    font-size: 25px;
  }
  .products__kintted__garments__right__entry__left__button__content {
    font-size: 14px;
  }
  .about__jumbotron__img {
    margin-left: -52%;
    width: 200%;
  }
  .about__info__content {
    flex-direction: column;
    padding: 0em 1em;
  }
}
@media (max-width: 600px) {
  .products__kintted__garments {
    overflow: hidden;
  }
  .products__kintted__garments__right__entry {
    flex-direction: column;
  }
  .products__kintted__garments__right__entry__right {
    margin: 0em !important;
    width: 100%;
    margin-top: 5em !important;
  }
  .footer__content {
    padding: 3em;
  }
  .footer__content::before {
    display: none;
  }
  .home__sustainability__heading {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .footer__content {
    border-top-right-radius: 150px;
  }
  .footer__content::after {
    width: 100px;
    height: 100px;
  }
  .home__products__heading {
    margin-bottom: 0em;
    font-size: 35px;
  }
  .home__products__content__card {
    width: calc(100% - 2em);
    max-width: 100%;
  }
  .home__products__content__card:first-child {
    margin-bottom: 2em;
  }
  .home__products__content__card:last-child {
    margin-top: 2em;
  }
  .home__services {
    padding-left: 1em;
    padding-right: 1em;
  }
  .home__sustainability__content__left__card {
    width: 100%;
  }
}
